/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  
}

/* LIGHT MODE VARIABLES */
:root {
   --bg: #000000;    
  --calc-bg: #ffffff;
  --btn-bg: #e0e0e0;
  --btn-text: #000;
  --operator: #ff6f61;
  --equal: #4caf50;
  --display-bg: #f9f9f9;
}

/* DARK MODE VARIABLES */
body.dark {
  --bg: #1e1e2f;
  --calc-bg: #2a2a40;
  --btn-bg: #3b3b5c;
  --btn-text: #fff;
  --operator: #ff8c42;
  --equal: #66bb6a;
  --display-bg: #1e1e2f;
}

/* BODY */
body {
  background: var(--bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* CALCULATOR */
.calculator {
  background: var(--calc-bg);
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* THEME BUTTON */
.theme-toggle {
  text-align: right;
  margin-bottom: 10px;
}

.theme-toggle button {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* DISPLAY */
#display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  background: var(--display-bg);
  color: var(--btn-text);
}

/* BUTTON GRID */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* BUTTON */
button {
  padding: 18px;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--btn-text);
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

/* OPERATORS */
.operator {
  background: var(--operator);
  color: white;
}

/* EQUAL */
.equal {
  background: var(--equal);
  color: white;
  grid-row: span 2;
}

/* ZERO */
.zero {
  grid-column: span 2;
}
